DATABASE_URL="mysql://root:Programmer@2026@localhost:3306/wa_web_api"
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
PORT=3050
NODE_ENV=development

# Anti-spam delays (milliseconds)
MSG_DELAY_MIN=2000
MSG_DELAY_MAX=6000
DEFAULT_COUNTRY_CODE=92
